<!DOCTYPE html>
<html lang="en">
<body>
<%- include("./header.ejs") %>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <img class="img-fluid" style="border-radius: 100px;" width="350" src="https://i.ibb.co/B6HXW11/Screenshot-20220609-174114.png" alt="logo">
        </div>
        <div class="col-lg-8">
            <h3>Stalin Junior Development</h3>
            <p>Stalin Junior Development is a development company founded in 2021 by Dılbaz Yenisoy aka Dılbaz Stalin Junior.
                this company has accomplished successful projects such as Stalin Junior - Uptime and n33dful search engine. The company is also developing an operating system called stalinOS.</p>
                <p>The Stalin Junior Development team is not communist, on the contrary, they are people against communism. So why are we against communism, but the name of the company, Stalin Junior Development, is actually a long story and Dılbaz Stalin Junior did not tell this story to many people.</p>
                <h4>The programming languages ​​we use</h4>
                <p>Javascript (JS), Python (PY) and Hypertext Preprocessor (PHP)</p>
    </div>
    <%- include("./footer.ejs") %>
</div>
</div>
</body>
</html>