<%- include("./header.ejs") %>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card" style="background-color: #000000;">
                <img src="https://raw.githubusercontent.com/StalinJuniorDev/stalinOS/main/logo.png" class="card-img-top" alt="stalinOS logo">
                <div class="card-body">
                  <h5 class="card-title"><a class="text-light" href="https://github.com/StalinJuniorDev/stalinOS">stalinOS</a></h5>
                  <p width="100" class="card-text">A simple operating system coded with python, which started to be developed in 2022</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #000000;">
                <img src="https://raw.githubusercontent.com/StalinJuniorDev/nodejs-ile-yapilmis-arama-motoru/main/logo.png" class="card-img-top" alt="n33dful logo">
                <div class="card-body">
                  <h5 class="card-title"><a href="https://github.com/StalinJuniorDev/nodejs-ile-yapilmis-arama-motoru">n33dful</a></h5>
                  <p class="card-text">Search engine, which was started to be developed in 2021, previously made with php and later converted to node js</p>
                </div>
              </div>
    </div>
    <div class="col-lg-4">
        <div class="card" style="background-color: #000000;">
            <img src="https://i.ibb.co/B6HXW11/Screenshot-20220609-174114.png" class="card-img-top" alt="Stalin Junior - Uptime logo">
            <div class="card-body">
              <h5 class="card-title"><a href="https://github.com/StalinJuniorDev/nodejs-uptime-sitesi-v2">Stalin Junior - Uptime</a></h5>
              <p class="card-text">Uptime site made with node js using mongodb, which keeps glitch projects active in 2022</p>
            </div>
          </div>
    </div>
    <%- include("./footer.ejs") %>
</div>
</div>