<%- include("./header.ejs") %>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <a href="https://discord.com/users/670667760577019909"><img class="img-fluid" style="border-radius: 1000px;" src="https://cdn.discordapp.com/avatars/670667760577019909/cdc7901544c152167b1bff10f3728f27.webp" alt="profile photo"></a>
            <strong><h4>Dılbaz Stalin Junior</h4></strong>
            <p>Stalin Junior Development member, developer, founder and admin</p>
        </div>
        <div class="col">
            <a href="https://discord.com/users/660531455704694824"><img class="img-fluid" style="border-radius: 1000px;" src="https://cdn.discordapp.com/avatars/660531455704694824/ba908c10f604c5667fad855c83360f16.webp" alt="profile photo"></a>
            <strong><h4>mrs. rexyz-chan</h4></strong>
            <p>Stalin Junior Development member and developer</p>
    </div>
    <div class="col">
        <a href="https://discord.com/users/546124874960207893"><img class="img-fluid" style="border-radius: 1000px;" src="https://cdn.discordapp.com/avatars/546124874960207893/710eb3b0eb129842e81afe01f6b0292d.webp" alt="profile photo"></a>
        <strong><h4>Poxiy</h4></strong>
        <p>Stalin Junior Development member and moderator</p>
</div>
<div class="col-lg-3">
    <a href="https://discord.com/users/951809549575262279"><img class="img-fluid" style="border-radius: 1000px;" src="https://cdn.discordapp.com/avatars/951809549575262279/75d8ec5db25391c039c2a7007f468676.webp" alt="profile photo"></a>
    <strong><h4>Temmie</h4></strong>
    <p>Member of Stalin Junior Development, bdfd support and moderator</p>
</div>
<%- include("./footer.ejs") %>
</div>
</div>